{% extends 'base.html.twig' %}

{% block title %}
    Kody z punktami na kartamultisport.pl
{% endblock %}

{% block body %}
    <h1>Kody z punktami na kartamultisport.pl</h1>

    <ul>
        {% for code, pkt in codes %}
            <li><span class="font-weight-bold">{{ code }}</span> - {{ pkt }} punktów</li>
        {% endfor %}
    </ul>
{% endblock %}


