{% extends 'base.html.twig' %}

{% block title %}
    Kody z punktami na kartamultisport.pl
{% endblock %}

{% block body %}
    <h1>Kody z punktami na kartamultisport.pl</h1>

    <p>
        Kody podajemy logując się do swojego konta na <a href="https://www.kartamultisport.pl">https://www.kartamultisport.pl</a>
        a następnie wchodząc w:<br/>
    <h4> GRAJ DALEJ > ZBIERAJ PUNKTY > KODY </h4><br/>
    I tu podajemy poniższe kody.
    </p>

    <ul>
        {% for code, pkt in codes %}
            <li><span class="font-weight-bold">{{ code }}</span> - {{ pkt }} punktów</li>
        {% endfor %}
    </ul>
{% endblock %}


