{% extends 'base.html.twig' %}

{% block title %}
    Zapisz użytkownika
{% endblock %}

{% block body %}
    <h2>Automatyczny logger Multisport</h2>
    <p>Podając swoje dane do logowania będziesz automatycznie logowany do systemu kartamultisport.pl</p>

    {{ form(form) }}
{% endblock %}

