<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a href="{{ path('index') }}" class="navbar-brand">LoggerMultisport</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link"
                       href="https://www.kartamultisport.pl/?type=6544356&benefitactivity%5Bhash%5D=426754_bd26f527994162d0df2d57cd7acf0c3d05a3d387&cHash=32476f2150418a62e76bec7933564049">Weź
                        udział w grze</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('codes') }}">Kody z punktami</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
